#header {
  color:#06f0f0;
}


.dropdown {
    display: flex;
  justify-content: right;
}

.container {
  border: 2px black;
  background-color: darkorange;

}

body {
  background-color: darkorchid;
}

#footer {
  color:#06f0f0;
}