/* Template for all pages */

#header {
  color:rgba(8, 170, 245, 1);
  font-family: 'Josefin Sans', sans-serif;
}


body {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  position: fixed;
  z-index: 1;
}

.backgroundimg {
  background-image: url("../luca-bravo-g_LG9LGyTk8-unsplash.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: visible;
  margin: 0%;
}

.wrapper {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.container {
  border: 20px black;
  background-color: rgba(8, 170, 245, 0.9);
  padding: 20px 20px;
  align-self: center;
  color: black;
  flex-wrap: wrap;
} 

#bottom {
  margin-left: auto;
   margin-right: auto;
   position: inherit;
 }
 
 #footer {
   color:rgba(8, 170, 245, 1);
     font-family: 'Josefin Sans', sans-serif;
 }

/* About me  page */

#about {
  text-align: left;
  padding-top: 7px;
  padding-left: auto;
  margin-right: auto;
}

.headshot {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.headline {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: black;
}




/* Portfolio page */

h2, h6 {
  text-align: center;
}

.extURL {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  color: darkblue;
}

#portfolio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* right-corner easter egg*/

#moon {
  text-align: right;
  color:#06f0f0;
}
