#header {
  color:rgba(8, 170, 245, 1);
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  position: fixed;
  z-index: 1;
}

.backgroundimg {
  background-image: url("./luca-bravo-g_LG9LGyTk8-unsplash.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: visible;
  margin: 0%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}


#about {
  text-align: left;
  padding-top: 7px;
  padding-left: auto;
  margin-right: auto;
}

.headshot {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.headline {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  border: 20px black;
  background-color: rgba(8, 170, 245, 0.9);
  padding: 20px 20px;
  align-self: center;
  color: black;
} 

a {
  color: black;
}

#bottom {
  margin-left: auto;
  margin-right: auto;
}


#footer {
  color:rgba(8, 170, 245, 1);
    font-family: 'Josefin Sans', sans-serif;
}

#moon {
  text-align: right;
  color:#06f0f0;
}


/* Portfolio page */

h2, h6 {
  text-align: center;
}

#portfolio-img {
  align-items: center;
}